<h3>Componente Padre</h3>
<app-datos [name]="datos.jugador1.nombre" [dorsal]="datos.jugador1.numero" [position]="datos.jugador1.posicion"></app-datos>
<hr>
<app-datos [name]="datos.jugador2.nombre" [dorsal]="datos.jugador2.numero" [position]="datos.jugador2.posicion"></app-datos>
<hr>
<app-datos [name]="datos.jugador3.nombre" [dorsal]="datos.jugador3.numero" [position]="datos.jugador3.posicion"></app-datos>
<hr>
<app-datos [name]="datos.jugador4.nombre" [dorsal]="datos.jugador4.numero" [position]="datos.jugador4.posicion"></app-datos>